@charset "utf-8";
@import "mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --white:#ffffff;
    --black:#000000;
}
/*reset*/
* {margin: 0;padding: 0;box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}


/*font*/
.en{
    font-family: "Public Sans", serif;
}
.en2{
    font-family: "Cormorant Infant", serif;
}
.en3 {
    font-family: "Montserrat", serif;

}

body{
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
.wrap{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: var(--black);
    color: var(--white);
}
//header
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    padding: pc-vw(15px) pc-vw(30px);
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s;
    color: var(--white);
    .menuOpen{
        display: none;
        transition: 0.3s;
    }
    .gnb{
        ul{
            display: flex;
            justify-content: space-between;
            li{
                &:not(&:first-child){
                    margin-left: pc-vw(70px)
                }
                a{
                    display: block;
                    &:hover{
                       .char{
                           &:before{
                               transform: translateY(0%);
                               opacity: 1;
                           }
                           &:after{
                               transform: translateY(-100%);
                           }
                       }
                    }
                    .char{
                        display: inline-block;
                        position: relative;
                        color: transparent;
                        overflow: hidden;
                        &:before,&:after{
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.6;
                            color: var(--white);
                            content: attr(data-char);
                            transition: transform 0.35s;
                            transition-delay: calc(30ms * var(--char-index));
                        }
                        &:before{
                            transform: translateY(100%);

                        }
                    }
                }
            }
        }
    }

}

//visual
@keyframes textAni {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translate3d(0,-100px,0) skew(20deg) ;
        transform-origin: top left;
    }
    100%{

    }
}
@keyframes fadeIn {
    from{
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0%, 0);
    }

}
@keyframes slide-in {
    from {
        transform: translateY(-10em)  scale(0.5);
        opacity: 0;
    }
}
@keyframes spin {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.visual{
    width: 100%;
    height: 100vh;
    position: relative;
    letter-spacing: -1px;
    padding-top: pc-vw(150px);
    .mainText{
        font-size: pc-vw(100px);
        line-height: 1;
        margin: 0px 0px pc-vw(150px) pc-vw(60px);
    }
    .subText{
        margin-left: pc-vw(60px);

    }
    .scroll{
        position: absolute;
        left: pc-vw(60px);
        bottom: pc-vw(60px);
        letter-spacing: 2px;
        .char{
            animation: slide-in 2s cubic-bezier(.5, 0, .5, 1) both reverse;
            animation-delay: calc(60ms * var(--char-index));
            animation-iteration-count: infinite;

        }
    }
    &.motion{
        .mainText{
            transform: translate3d(0,0,0) skew(0deg) ;
    overflow: hidden;
            p{
                span{
                    display: block;
                    animation-name: textAni;
                    animation-duration: 2s;
                }
                &:nth-child(2){
                    span{animation-duration: 2.2s;}
                }
                &:nth-child(3){
                    span{ animation-duration: 2.4s;}
                }
            }
        }
        .subText{
            transform: translate3d(0,0,0) skew(0deg) ;
            overflow: hidden;
            p{
                display: block;
                animation-name: fadeIn;
                animation-duration: 2s;
                //transform: translate3d(0, 0, 0);
            }
        }

    }
}
//con01
.con01{
  width: 100vw;
  height: 100vh;
  position: relative;
  .videoWarp{
    video{
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
    .title{
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        h2{
            font-size: pc-vw(80px);
            font-weight: 400;
            letter-spacing: -1px;
            line-height: 1.2;
            color:var(--white);
            opacity: 0;
        }
    }
}

//con02
.con02{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .title{
        width: 100%;
        height: 100vh;
        font-size: pc-vw(140px);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 0.8;
        letter-spacing: -3px;
    }
    .workList{
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 99;
        padding-bottom: 100vh;
        li{
            width: 45%;
            margin-top: 15vh;
            &:nth-child(2n){
                margin-top: 0;
            }
            a{
                width: 100%;
                display: block;
                .textBox{
                    h3{
                        font-size: pc-vw(32px);
                        margin: pc-vw(14px) 0 pc-vw(5px);
                        line-height: 1.2;
                        @extend .en;
                        letter-spacing: -1px;
                        font-weight: 400;

                    }
                    .info{
                        display: flex;
                        justify-content: space-between;
                        color: #888;
                    }
                }
                .imgBox{
                    position: relative;
                    aspect-ratio: 3/4;
                    overflow: hidden;
                    &:before{
                        content: "";
                        width: pc-vw(60px);
                        height: pc-vw(60px);
                        border-radius: 100%;
                        background: url("../images/readMore2.png") no-repeat center/ pc-vw(45px);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50% ,-50%) rotate(45deg);
                        z-index: 1;
                        transition: all 0.3s;
                        opacity: 0;
                    }
                    &:after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        position: absolute;
                        border-radius: 100%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50% ,-50%);
                        animation-name: spin;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        transition: .4s;
                        z-index: 1;
                        background: #ffffff url("../images/readMore3.png") no-repeat center/ pc-vw(130px);;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.3s;
                        filter: grayscale(1);
                    }
                }
                &:hover{
                    .imgBox{
                        &:before{
                            opacity: 1;
                            z-index: 2;
                        }
                        &:after{
                            width: 130px;
                            height: 130px;
                        }
                        img{
                            filter: grayscale(0);
                        }
                    }
                }
            }

        }
    }
}

.con03{
    width: 100vw;
    height: 100vh;
    position: relative;

    .textWrap{
        width: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        .title{
            font-size: pc-vw(18px);
        }
        ul{
            li{
                font-size: pc-vw(100px);
                line-height: 1.1;
                overflow: hidden;
                p{
                    overflow: hidden;
                }
                &.en2{
                    padding-left: pc-vw(5px);
                    font-style: italic;
                }
            }
        }
    }
    .btnWrap{
        position: absolute;
        left: pc-vw(500px);
        top:60%;
        z-index: 3;
        a{
            display: inline-block;
            width: pc-vw(150px);
            height: pc-vw(150px);
            border-radius: 100%;
            border: 1px solid var(--white);
            position: relative;
            transition: all .5s;
            &:before{
                content: "";
                width: 0%;
                height: 0%;
                border-radius: 100%;
                @include center;
                animation-name: spin;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transition: .4s;
                background: #ffffff url("../images/readMore3.png") no-repeat center/ pc-vw(145px);
            }
            &:hover{
                border: transparent;
                &:before{
                    width: 100%;
                    height: 100%;
                }
                img{
                    &:nth-child(2){
                        opacity: 1;
                    }
                }
            }
            &.reverse{
                border: transparent;
                &:before{
                    width: 100%;
                    height: 100%;
                }
                img{
                    &:nth-child(2){
                        opacity: 1;
                    }
                }
            }
            img{
                width: 35%;
               @include center;
                transform: translate(-50%,-50%) rotate(45deg) ;
                &:nth-child(2){
                    opacity: 0;
                }
            }
        }
    }
}

.swiper{
    width: 100vw;
    height: pc-vw(250px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%) rotate(5deg);
    .swiper-wrapper {
        transition-timing-function: linear !important;
        .swiper-slide {
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all;

            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                transform: scale(1.1);
                filter: brightness(50%);
            }
        }
    }

}
footer{
    width: 100%;
    position: relative;
    height: 50vh;
    padding: pc-vw(40px) pc-vw(60px)  ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .textWrap{
        font-size: pc-vw(160px);
        line-height: 1;
        letter-spacing: -1px;
        .title{
            font-size: pc-vw(20px);
            margin-bottom: pc-vw(30px);
            padding-left: pc-vw(15px);
        }
        .en2{
            margin-bottom: pc-vw(10px);
            font-size: pc-vw(80px);
            font-weight: 600;
            font-style: italic;
            span{
                display: block;
                font-style: normal;
            }
        }

    }
    .bottom{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        a{
            display: inline-block;
            &:nth-child(2){
margin-left: pc-vw(8px);
            }
            &:hover{
                transition: .5s;
                text-decoration: underline;
            }
        }
    }

}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg);
    }
}

.textSphere {
    position: absolute;
    width: pc-vw(300px);
    height: pc-vw(300px);
    perspective: 1000px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(10deg);
    left: 60%;
    z-index: 0;
    .sphere {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate(-50%, -50%);
        animation: rotate 12s infinite linear;
        span{
            position: absolute;
            font-size: 18px;
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
        }

    }
}