$mobileBreakPoint: 480px;
$tabletBreakPoint: 768px;
$desktopBreakPoint: 1280px;

@function pc-vw($px){
  $vw-context: 1920 * 0.01 * 1px;
  @return $px / $vw-context * 1vw;
}
@function tablet-vw($px){
  $vw-context: 768* 0.01 * 1px;
  @return $px / $vw-context * 1vw;
}
@function mobile-vw($px){
  $vw-context: 414 * 0.01 * 1px;
  @return $px / $vw-context * 1vw;
}

@mixin tablet {
  @media (min-width: #{$tabletBreakPoint}) and (max-width: #{$desktopBreakPoint - 1px}) {
    @content;
  }
}

// 모바일에서 태블릿 : 최소 '모바일에서 태블릿'사이즈부터 ~ 최대 '태블릿'사이즈까지
@mixin mobileAndTablet {
  @media (min-width: #{$tabletBreakPoint}) and (max-width: #{$desktopBreakPoint - 1px}) {
    @content;
  }
  @media (min-width: 0px) and (max-width: #{$tabletBreakPoint - 1px}) {
    @content;
  }
}

// 태블릿 : 최소'태블릿'사이즈부터 ~ 최대 '태블릿에서 노트북'사이즈까지
@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$tabletBreakPoint - 1px}) {
    @content;
  }
}

@mixin center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}